
__pycache__/
.DS_Store

my_config.yaml
temp
data/datafolders/*
!data/datafolders/for_testing/
env
tutorials/data/

docs/_*

pypi_pass.txt
rouskinhf.egg*
build
.ipynb*
.pytest_cache
.vscode
*.tar.gz
*.whl