export HUGGINGFACE_TOKEN="your token here"  # you must change this to your HuggingFace token
export RNASTRUCTURE_PATH="/Users/yvesmartin/src/RNAstructure/exe" # Change this to the path of your RNAstructure executable
export RNASTRUCTURE_TEMP_FOLDER="temp" # You can change this to the path of your RNAstructure temp folder
